@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap');

body {
  background-color: #EEE;
  margin: 30px;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
}

button {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.korvais {
  background-color: white;
}
