@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400&display=swap');

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

body {
    animation: fade-in 1.2s ease-in;
    margin-bottom: 0px;
    background-color: #F0F0F0;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
}

.image-container img {
    height: 250px;
}

.image-container p {
    margin-top: 40px;
    font-size: 14px;
    line-height: 22px;
    max-width: 250px;
    font-family: 'EB Garamond';
}

p {
    text-indent: 2em;
}

.right-align {
    text-align: right;
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    margin: -16px;
  }

  #play-pause-btn {
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    position: relative;
    color: black;
  }
  
  #play-pause-btn::before,
  #play-pause-btn::after {
    content: '';
    position: absolute;
  }
  
  #play-pause-btn::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 20px; /* Adjust the height */
    border-top: 10px solid transparent; /* Adjust the border width */
    border-bottom: 10px solid transparent; /* Adjust the border width */
    border-left: 12px solid; /* Adjust the border width */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #play-pause-btn::after {
    content: '';
    box-sizing: border-box;
    position: relative;
    display: none;
  }
  
  #play-pause-btn.pause::before {
    display: none;
  }
  
  #play-pause-btn.pause::after {
    display: block;
    width: 16px; /* Adjust the width */
    height: 20px; /* Adjust the height */
    border-left: 6px solid; /* Adjust the border width */
    border-right: 6px solid; /* Adjust the border width */
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%); /* Adjust the translation */
  }
  