@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400&display=swap');

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

body {
    animation: fade-in 0.8s ease-in;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #F0F0F0;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.image-container img {
    height: 250px;
}

.image-container p {
    margin-top: 40px;
    font-size: 14px;
    line-height: 22px;
    max-width: 250px;
    font-family: 'EB Garamond';
}

p {
    text-indent: 2em;
}

.right-align {
    text-align: right;
    display: block;
}

button {
  width: 200px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.698) inset, 0 1px 0 0 rgba(0, 0, 0, 0.075);
  color: #595959;
  cursor: pointer;
  font-family: 'EB Garamond';
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 10px;
  padding: 8px 16px;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
}

button:hover {
  background-color: #F6F6F6;
  outline: medium none;
}

button:focus{
  outline: medium none;
}

button:active, button.active{
  background-color: #DDDDDD;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075) inset;
  outline: medium none;
}
