@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400&display=swap');

body {
  background-color: white;
  margin: 0px;
}

.bluebox {
  background-color: #1DAEF8;
  padding-top: 1px;
  padding-bottom: 1px;
}

a:link {
  opacity: 1.0;
  color: #F6610C;
  background-color: transparent;
  text-decoration: none;
  transition-duration: 0s;
}

a:visited {
  opacity: 1.0;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  opacity: 1.0;
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  opacity: 1.0;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a.inlink {
  transition-duration: 0s;
  color: #1DAEF8;
  text-decoration: none;
}

a.inlink:hover {
  color: #1DAEF8;
  text-decoration: underline;
}

p.onwhite {
  color: #1DAEF8;
  font-family: 'Times New Roman';
  font-size: 32px;
  margin: 100px;
}

p.onblue {
  color: white;
  font-family: 'Times New Roman';
  font-size: 32px;
  margin: 100px;
}

p.sahastag {
  color: black;
  font-family: 'Playfair Display';
  font-size: 22px;
  margin: 100px;
}
