@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400&display=swap');

body {
  font-family: 'Playfair Display', serif;
  margin: 0px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 4vw;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 3.6vw;
}

a {
  color: #0094FF;
  text-decoration: none;
}

p {
  font-size: 2vw;
  padding-right: 10px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card {
  display: inline-block;
  padding-right: 30px;
}

.header-image {
  filter: brightness(90%);
  background-color: black;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.restofthepage {
  margin: 40px;
}

.whitebox {
  border: 1px solid black;
  box-shadow: 5px 5px 5px gray;
  height: 290px;
}

.whitebox1 {
  border: 1px solid black;
  box-shadow: 5px 5px 5px gray;
  height: 360px;
}

.whitebox2 {
  border: 1px solid black;
  box-shadow: 5px 5px 5px gray;
  height: 460px;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
