/* General Styles */

html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: #EEE;
  font-family: "Fipps";
  font-size: 62.5%;
  background: #111;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

<style>
a:link {
  opacity: 1.0;
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  opacity: 1.0;
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  opacity: 1.0;
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  opacity: 1.0;
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
</style>

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

h1 {
  font-size: 3.0em;
  text-align: center;
  color: #0CF;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 2.0em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-weight: normal;
}

a {
  color: #0CF;
  text-decoration: none;
  opacity: 0.7;
}

p {
  margin: 10px 0;
  font-size: 1.4em;
  letter-spacing: 1px;
}

ul {
  padding: 0 0 0 20px;
}

ul li {
  margin: 10px 0;
  list-style: circle;
  font-size: 1.4em;
}

ul li b {
  color: #0CF;
}
/* Generic Classes */

.clear {
  clear: both;
}

.wrapper {
  width: 75%;
  margin: auto;
}
/* Basic Layout */

.container {
  width: 600px;
  padding: 20px;
  margin: 20px auto;
  background: rgba(11, 11, 11, .9);
  border-radius: 10px;
}

.description {}

.controls {
  float: right;
  padding: 0;
}

.controls li {
  float: left;
  padding: 0;
  margin: 0 0 0 10px;
  list-style: none;
}
/* Accordion */

.accordion {}

.accordion .handle {
  border-bottom: 1px solid #222;
}

.accordion .handle h4 {
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
  color: #CCC;
}

.accordion .pane {}

.accordion .pane .inner {
  padding: 20px 0;
}
